// Base stuff
@import "base/_normalize";
@import "base/_typography";
@import "base/_color";
@import "base/variables";

// Sass utilities
@import "helpers/_functions";
@import "helpers/_mixins";
@import "helpers/_extends";
@import "helpers/_common";

// Components and modules

@import "component/_product-item";
@import "component/_home-blog";
@import "component/_subcribe";
@import "component/_block";
@import "component/_gallery";


@import "partials/_form";
@import "partials/_fields";
@import "partials/_button";
@import "partials/_text_heading";
@import "partials/_table";
@import "partials/_modal";

// Layout related stylesheets
@import "layout/_header";
@import "layout/_footer";
@import "layout/_navmain";
@import "layout/_logo";
@import "layout/_header-menu";
@import "layout/_banner";

// Page-specific stylesheets

@import "pages/_page-home";
@import "pages/_page-product-detail";


// Vendors and external stylesheets

body {font-family: $font-base;color: $color-text;font-size: $font-size-xs;line-height: 1.4;-webkit-font-smoothing: antialiased;overflow-x: hidden;
  &.open_menu {overflow: hidden}
}

