#header {background: white;padding: 15px 0;position: sticky;top: 0;z-index: 111;min-height: 70px;width: 100%;display: flex;align-items: center;
  @include box-shadow(0px,3px,3px,rgba(black,.16));
  &.fixed {position: fixed;top: 0}
}
.header_inner {}
.header_col {
  &__left {}
  &__right {}
}