<div class="home_blog">
    <div class="row home_blog__row">
        {% for i in 0..1 %}
        <div class="col-md-6 home_blog__col">
            <div class="blog_item">
                <a href="#" class="blog_item__thumb">
                    <img src="http://via.placeholder.com/720x480" alt=""/>
                </a>
                <div class="blog_item__info">
                    <h3 class="blog_item__title">
                        <a href="#" title="">HOẠT ĐỘNG KẾT NỐI</a>
                    </h3>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
