<div class="product_item">
    <a href="#" title="" class="product_item__thumb">
        <img src="http://via.placeholder.com/300x400" alt=""/>
    </a>
    <div class="product_item__info">
        <h3 class="product_item__name">
            <a title="" href="#">Bàn dã ngoại  - C01</a>
        </h3>
        <div class="product_item__price">
            2.500.000 VNĐ
        </div>
    </div>
</div>