<div class="subcribe">
    <div class="mb5">Mailing List</div>
    <form action="" class="subcribe_frm">
        <div class="subcribe_frm__row">
            <input type="text" class="input_common input_common--full subcribe_frm__input" placeholder="Enter your email address..."/>
            <button class="subcribe_frm__submit">Sign In</button>
        </div>
    </form>
    <div class="subcribe_frm__note">Sign up to get the latest on sales, new releases and more …</div>
</div>