{% set arr1 = [
    {title: 'Our Products'},
    {title: 'New In'},
    {title: 'Resources DIY'},
    {title: 'Camping'},
] %}

{% set arr2 = [
    {title: 'Our Services'},
    {title: 'About Casaca'},
    {title: 'Contact Us'},
    {title: 'Blog'},
] %}

<div id="footer">
    <div class="container footer_container">
        <div class="row">
            <div class="col-md-6">
                {% include '../components/subcribe.twig' %}
            </div>
            <div class="col-md-2">
                <div class="footer_menu">
                    {% for i in arr1 %}
                    <div class="footer_menu__item">
                        <a href="#" title="{{ i.title }}">{{ i.title }}</a>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-2">
                {% for i in arr2 %}
                    <div class="footer_menu__item">
                        <a href="#" title="{{ i.title }}">{{ i.title }}</a>
                    </div>
                {% endfor %}
            </div>
            <div class="col-md-2">
                <div class="footer_social">
                    <div>Social</div>
                    <div class="footer_social__lst">
                        <a href="#" class="footer_social__item"></a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>