{% set arr = [
    {title: 'Mua hàng thuận tiện',content: 'Ezbuy giúp bạn mua hàng trên khắp thế giới như mua hàng tại Việt Nam.',icon: 'bag'},
    {title: 'Thanh toán dễ dàng',content: 'Dễ dàng thanh toán như mua hàng tại Việt Nam.',icon: 'credit-card'},
    {title: 'Chuyển hàng siêu tốc',content: 'Chuyển hàng Quốc tế về Việt Nam chỉ từ 5 - 7 ngày.',icon: 'ghn'},
    {title: 'Hỗ trợ 7/365',content: 'Đội ngũ hỗ trợ khách hàng tận tình 8h - 21h kể cả Thứ 7 và Chủ Nhật',icon: 'icon-support'},
] %}

<div id="footer">
    <div class="container-custom footer_container">

    </div>

</div>