{% set arr = [
    { name: "Đặt nhanh", icon: "icon-link"},
    { name: "Tin tức", icon: "news"},
    { name: "Thông báo", icon: "notify"},
    { name: "Đấu giá", icon: "icon-auction"},
    { name: "Giỏ hàng", icon: "icon-cart"},
    { name: "Nhắn tin", icon: "facebook-messenger"},
] %}

<!--=======================HEADER=======================++-->
<header id="header">
    <div class="container-custom header_container">
        <div class="header_col header_col--left">
            <a href="javascript:void(0)" title="" id="logo">
                <img src="/image/logo-white.png" alt="" />
            </a>
        </div>
        <div class="header_col header_col--center">

        </div>
        <div class="header_col header_col--right">
            <div class="header_button">

            </div>
        </div>
    </div>
</header>
<!--=======================//HEADER=======================-->