{% set arr = [
    { name: "HOME", icon: "icon-link"},
    { name: "SHOP", icon: "notify"},
    { name: "ACTIVITIES", icon: "icon-auction"},
    { name: "BLOG", icon: "icon-cart"},
    { name: "ABOUT", icon: "facebook-messenger"},
    { name: "CONTACT", icon: "facebook-messenger"},
] %}


<header id="header" class="header">
    <div class="container header_inner">
        <div class="row">
            <div class="col-8 col-lg-3 header_col header_col__left">
                <!--Logo-->
                <h1 id="logo">
                    <a href="#" rel="home">
                        <img src="../../image/logo.svg" alt=""/>
                    </a>
                    <span class="site_description">Chuyên may đo đồng phục</span>
                </h1>
                <!--//Logo-->
            </div>
            <div class="col-4 col-lg-9 header_col header_col__right">
                <!-- #site-navigation -->
                <div class="navtop_collapse">
                    <nav id="site-navigation" class="navigation_main">
                        <div class="menu-header-menu-container">
                            <div class="navtop_lst">
                                <li>
                                    <a href="#" title="SHOP">SHOP</a>
                                    <ul class="sub_menu">
                                        {% for i in 0..3 %}
                                        <li class="has_children"><a title="" href="#">Menu level 1</a></li>
                                        {% endfor %}
                                    </ul>
                                </li>
                                {% for i in arr %}
                                <li>
                                    <a href="#" title="{{ i.name }}">{{ i.name }}</a>
                                </li>
                                {% endfor %}
                            </div>
                        </div>
                    </nav>
                </div>
                <a id="navtop_icon" class="menu-toggle" rel="nofollow">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </a>
            </div>
        </div>
    </div>
</header>