.home_blog {}
.home_blog__row {}
.home_blog__col {}


.blog_item {}
.blog_item__thumb {display: block;position: relative;text-align: center;
  &::before {content: '';display: block;
    @include responsive-ratio(720,450);
  }
  img {
    @include responsive-ratio-img();
  }
}
.blog_item__info {text-align: center;padding: 10px 0}
.blog_item__title {margin: 0;font-family: $font-regular;font-weight: normal}