{% extends "../layout/layout.twig" %}
{% block pageTitle %} Ezbuy | Home Page {% endblock %}
{% block page %}
    <div id="page_home" class="page_main">
        {% include "../layout/topbar.twig" %}
        {% include "../layout/header.twig" %}

        <div class="page_body">

        </div>
        {% include '../layout/footer.twig' %}
    </div>

{% endblock %}